.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    border: 1px black solid;
}



h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px; 
    margin-bottom: 150px;
    
}

ul {
    font-size: 40px;
    text-align: center;

}

li {
    margin: 40px;

}

.Cookies {
    background-color: rgb(223, 158, 84);
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

#Candy-canes {
    background-color: rgb(250, 159, 159);
    color: white;

}

#spooky {
    background-color: black;
    color: white;
}