h1, h2 {
    font-family: " Cedarville Cursive", cursive;
    text-align: center;
     margin: 20px;

}


.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

h3 {
    margin-top: 50px;
}


body, * {
    background-color: rgb(255, 195, 195)
}

p, li {

   font-size: 20px;

} 

h1{
    margin: 10px;
    font-size: 60px;
}

img {
    margin: 20px;
    margin-left: 430px;

}

/* Termine TODOS os estilos dos sites */