body, * {
    border: 1px red ;
    background-color: black;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
    text-align: center;
    font-size: 40px;
}

p, ol, ul {
    font-size: 25px;
    color: white;
}
h1, h2, h3 {
    color: red;
}

img {
margin-left: 450px;

}

#Home {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

footer {
    margin-top: 30px;

}