* {
    border: 2px solid black;
}

body {
    background-color: beige;
}

h1 {
  font-size: 50px;
}

/* Termine o estilo de TODOS os sites */

p, li {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 20px;
}

img {
  margin: 10px;

}

h2, h1, h3, h4 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}