body {
    border: 1px black solid;
}

/* Termine de estilizar ESSE e o styleAboutrecipes, e faça o site do Abourecipes */

h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px; 
    margin-bottom: 150px;
    
}

ul {
    font-size: 40px;
    text-align: center;

}

li {
    margin: 40px;

}

.Cookies {
    background-color: rgb(223, 158, 84);
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.Candy-canes {
    background-color: rgb(250, 159, 159);
    
    color: white;
}
