


body {
    background-color: beige;
}

h1 {
  font-size: 50px;
}

 .list-tools, .list-ingredients, .Step-by-step {

  margin: 20px;
}

p, li, .tip {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 20px;
}

.tip {
 font-weight: 600;
 margin-top: 20px;
}

img {
  margin: 15px;

}

h2, h1, h3, h4, #duration {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

a {
  font-size: 18px;
}
#title {
  text-align: left;
}